NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_RESONANCE_GENESIS_ADDRESS=
NEXT_PUBLIC_CHLADNI_NODE_MINER_ADDRESS=
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.filebase.io/ipfs/
NEXT_PUBLIC_METADATA_CID=
NEXT_PUBLIC_IMAGE_CID=

SEPOLIA_RPC_URL=
PRIVATE_KEY=
ETHERSCAN_API_KEY=
METADATA_CID=
IMAGE_CID=
MAX_SUPPLY=8888
MINT_PRICE_ETH=0.01
