SEPOLIA_RPC_URL=
NEXT_PUBLIC_ALCHEMY_SEPOLIA_RPC_URL=
NEXT_PUBLIC_INFURA_SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
METADATA_CID=
IMAGE_CID=
RESONANCE_GENESIS_ADDRESS=
CHLADNI_NODE_MINER_ADDRESS=
RESONANCE_ENERGY_ADDRESS=
NEXT_PUBLIC_RESONANCE_ENERGY_ADDRESS=
MAX_SUPPLY=1212
MINT_PRICE_WEI=10000000000000000
MONGODB_URI=
MONGODB_DB=resonance_genesis
NEXT_PUBLIC_WAITLIST_TARGET_DATE=2026-06-30T12:00:00Z
NEXT_PUBLIC_WAITLIST_TARGET_SLOTS=1000
WAITLIST_TARGET_SLOTS=1000
WAITLIST_TARGET_DATE=2026-06-30T12:00:00Z
ADMIN_API_KEY=451714f085fbae98187289421d52b0cd4e8829bc99a67c0756f4b6084ef2bae6
